body {
  margin: 0;
  font-family: sans-serif;
  transition: background 0.3s, color 0.3s;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

#status {
  text-align: center;
  min-height: 20px;
}

.theme-light {
  background: #fff;
  color: #000;
}

.theme-dark {
  background: #000;
  color: #fff;
}

.theme-red{
  background: #ff0000;
  color: #fff;
}

.theme-ocean {
  background: #37a2d8;
  color: #fff;
}